modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34081
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"

[userenv]

[userenv.shared]
META_WHATSAPP_TOKEN = "EAAKuMEZA8s0QBQJXuBg9MlHcocnvsLcoi4Svxd5hNjZAx490ipUj2XVYZCeet4DqmCVA7BcQi3D6E5cEDMtdBIsXdSl7uakdLBqLZBqO0lbrm23g7aJQf3GoB6q3YZA2j46BPUOz4Vpf13pA4UsoQiF05CFfDxEqHaT85D5x7AZAamOCv8AA8R0xBB4O1WnbIekgZAIZB0g6D391vYxHBGu3i8pKCOZB4YSZCfux7jSKqpMf68cPWPiBXqZCpMHI6Yt2fZCBtisffeOmrLINAWogsx0ZD"
META_APP_ID = "754472317662020"
META_APP_SECRET = "dafa1d9aa2956283c6ceb24a0edca270"
WHATSAPP_PHONE_ID = "358606843717195"
