
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 215 91% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 48 20% 98%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 48 15% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 215 91% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 10% 88%;
    --input: 48 10% 90%;
    --ring: 215 91% 51%;
    --radius: 0.75rem;
    --chart-1: 215 91% 51%;
    --chart-2: 215 84% 61%;
    --chart-3: 215 77% 71%;
    --chart-4: 215 70% 81%;
    --chart-5: 215 63% 91%;

    --sidebar-background: 216 91% 47%;
    --sidebar-foreground: 240 60% 97%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 216 91% 47%;
    --sidebar-accent: 216 91% 52%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 216 91% 52%;
    --sidebar-ring: 215 91% 61%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 215 91% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 215 91% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 215 91% 61%;
    --chart-1: 215 91% 61%;
    --chart-2: 215 84% 51%;
    --chart-3: 215 77% 41%;
    --chart-4: 215 70% 31%;
    --chart-5: 215 63% 21%;
    
    --sidebar-background: 216 91% 40%;
    --sidebar-foreground: 240 60% 97%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 216 91% 40%;
    --sidebar-accent: 216 91% 45%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 216 91% 45%;
    --sidebar-ring: 215 91% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

    