@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 97%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 276 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 276 100% 50%;
    --radius: 0.5rem;
    --chart-1: 275 100% 25%;
    --chart-2: 276 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 275 100% 25%;
    --sidebar-foreground: 240 60% 97%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 275 100% 25%;
    --sidebar-accent: 275 100% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 275 100% 30%;
    --sidebar-ring: 276 100% 50%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 276 100% 70%;
    --primary-foreground: 276 100% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 276 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 276 100% 70%;
    --chart-1: 276 100% 70%;
    --chart-2: 276 100% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 275 100% 20%;
    --sidebar-foreground: 240 60% 97%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 275 100% 20%;
    --sidebar-accent: 275 100% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 275 100% 25%;
    --sidebar-ring: 276 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
