
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 95%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 217 91% 68%;
    --accent-foreground: 0 0% 98%;
    --destructive: 349 83% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 217 91% 60%;
    --radius: 0.75rem;
    --chart-1: 217 91% 60%;
    --chart-2: 160 84% 39%;
    --chart-3: 40 91% 55%;
    --chart-4: 349 83% 60%;
    --chart-5: 280 82% 60%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 32% 26%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217 32% 26%;
    --sidebar-ring: 217 91% 68%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 217 32% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 349 75% 58%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 32% 27%;
    --input: 217 32% 27%;
    --ring: 217 91% 68%;
    --chart-1: 217 91% 68%;
    --chart-2: 160 74% 49%;
    --chart-3: 40 81% 65%;
    --chart-4: 349 75% 58%;
    --chart-5: 280 92% 70%;
    
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 32% 26%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217 32% 26%;
    --sidebar-ring: 217 91% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
